@model LibraryInventory.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}
<head>
    <link rel="stylesheet" href="~/css//Delete.css"/>
</head>
<h2>@ViewData["Title"]</h2>

<p>Are you sure you want to delete this book?</p>

<div>
    <h3>@Model.Name</h3>
    <p>Author: @Model.Author</p>
    <p>@Model.Description</p>
</div>


<form asp-action="DeleteConfirmed" asp-controller="Book" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">ConfirmDelete</button>
</form>



<a href="@Url.Action("Index")">Back to List</a>
